/* Work Sans Font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;0,800;1,500&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Shared Styles */

.btn-primary {
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 26px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px;
    cursor: pointer;
}

.text-light-grey {
    color: #727272;
    margin: 20px 0px;
}

/* Header Styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #242424;
}

/* Banner Styles */

.banner-content {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    margin: 20px;
}

.banner img {
    width: 100%;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

/* Main Styles */

main {
    max-width: 1440px;
    margin: 50px auto;
}

/* Teams Styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;

}

.teams-title {
    font-size: 2.8rem;
}

.quick-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

/* Span er modhe ase have to change the class */
.m-features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* Facts Section Styles */

.facts {
    margin: 30px 0;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 50px 0;
}

.facts-card-container .cards {
    padding: 30px;
    border: 1px solid #FF900e;
    border-radius: 8px;
    font-size: 1.2rem;
    color: #424242;
}

.features-card {
    margin: 20px 0;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px;
}

/* Sponsors Styles */

.sponsors {
    text-align: center;
}

.sponsor-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/* Features Styles */
.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.featured-content {
    padding: 20px;
}

.featured-title {
    font-size: 45px;
    color: #424242;
    margin-bottom: 20px;
}

.featured-des {
    font-size: 20px;
    color: #727272;
}

.features .featured-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.ten-years-badge {
    color: #FFF;
    border-radius: 8px;
    background: #FF900E;
    width: 342px;
    padding: 40px;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2 {
    font-size: 4rem;
    margin: 0;
}

.ten-years-badge p {
    text-align: center;
    font-size: 2rem;
}

.featured-img img {
    height: 90%;
    margin-left: 100px;
}

/* Resposive Media Queries */

/* Mobile Devices */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .team-content,
    .facts-card-container,
    .sponsor-img-container {
        padding-left: 20px;
        padding-right: 20px;

    }

    .facts-card-container .cards,
    .sponsor-img-container {
        margin: 20px;
    }

    .sponsor-img-container img {
        margin: 20px;
    }

}

/* Medium Devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .team-content,
    .facts-card-container,
    .sponsor-img-container {
        padding-left: 20px;
        padding-right: 20px;

    }

    .facts-card-container .cards,
    .sponsor-img-container {
        margin: 20px;
    }

    .sponsor-img-container img {
        margin: 20px;
        padding: 50px;
    }
}